<p>This API allows users to contribute Art to a a vault. The ArtSafe API can then be used to get a random image upon request.
  You can get this image with or without safe search which is implemented using Google Cloud Platform's machine learning algorithm.

  The API can be found here: ________

  What we wanted to showcase was a piece of art free from any influence. Most platforms at the moment attribute art with popular notions of art.
  However, Art can be a number of things, It holds a unique meaning for every individual. For a painter their painting is art, for a programmer they may
  consider their program to be art. For a carpenter they may consider their works as Art.

  Our program allows any user to submit their art and data related to the art such as author, description and if they so wish social media if someone
  wants to get back to them.

  When this API is implemented and an image is requested. A random image from the collection is sent with a QR code overlayed on it. This QR
  code can then be scanned by the user for additional information about the piece.
</p>
